.media
  .pull-left= image_tag avatar_url(comment.user)
  .media-body.well.well-small
    .toolip-arrow
    .btn-group.pull-right
      - if permitted_to? :update, comment
        = link_to 'Edit', edit_comment_path(comment), :class => 'btn'
      - if permitted_to? :destroy, comment
        = link_to 'Delete', comment, {:method => :delete, :class => 'btn'}
    .media-heading
      %small= comment.user.real_name
      %small= comment.created_at ? comment.created_at.strftime('%A, %B %d %Y, %l:%M %P') : ''
    = comment.comment
    - if comment.attachment
      .media-heading
        %small
          Attachment:
          = link_to comment.attachment_file_name, download_comment_attachment_path(comment)
          = comment.attachment_file_size
          bytes
