.form-horizontal
  = form_for @comment do |f|
    - if @comment.errors.any?
      #error_explanation
        %h2= "#{pluralize(@comment.errors.count, "error")} prohibited this comment from being saved:"
        %ul
          - @comment.errors.full_messages.each do |msg|
            %li= msg

    .media
      %h3 New Comment
      .pull-left= image_tag avatar_url(current_user)
      .media-body
        .media-heading
          = f.hidden_field :task_id
          = f.hidden_field :user_id
        .control-group
          = f.text_area :comment, { :size=>'100x4', :style=>'width: 97%;' }
        .control-group
          = f.submit 'Comment', :class => 'btn'
          = f.submit 'Complete', :class => 'btn btn-primary', :name => 'complete'
