%h1 My Comments

%table
  %tr
    %th Task
    %th User
    %th Comment
    %th
    %th
    %th

  - @comments.each do |comment|
    %tr
      %td= comment.task.title
      %td= comment.user.real_name
      %td= comment.comment
      %td= link_to 'Show', comment
      - if permitted_to? :update, comment
        %td= link_to 'Edit', edit_comment_path(comment)
      - if permitted_to? :destroy, comment
        %td= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' }

%br
