%h1
  = link_to @comment.task.project.company.name, @comment.task.project.company
  >
  = link_to @comment.task.project.name, @comment.task.project
  >
  = link_to @comment.task.title, @comment.task
  >
  = link_to @comment.comment, @comment

%p#notice= notice

%p
  %b Task:
  = @comment.task
%p
  %b User:
  = @comment.user
%p
  %b Comment:
  = @comment.comment

= link_to 'Edit', edit_comment_path(@comment)
\|
= link_to 'Back', comments_path
