.form-horizontal
  = form_for @task do |f|
    - if @task.errors.any?
      #error_explanation
        %h2= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
        %ul
          - @task.errors.full_messages.each do |msg|
            %li= msg

    .media
      .media-body
        .media-heading
          %h3 New Task
          = f.hidden_field :project_id
          = f.hidden_field :creator_id
          = f.hidden_field :owner_id
          .control-group
            .control-label= f.label :title
            .controls
              = f.text_field :title
          .control-group
            .control-label= f.label :description
            .controls
              = f.text_area :description, :rows=>'4'
          .control-group
            .control-label= f.label :due
            .controls
              .input-append.date{'date-data-format'=>'mm-dd-yyyy', :id=>'datepicker'}
                = f.text_field :due, {:class=>'span2'}
                %span.add-on
                  %i.icon-calendar
          .control-group
            .control-label= f.label :complete
            .controls
              = f.check_box :complete
          .control-group
            .control-label= f.label :owner
            .controls
              = f.collection_select :owner_id, User.where('company_id = ?', @task.project.company_id), :id, :real_name
          .control-group
            .controls
              = f.submit 'Save', :class => 'btn btn-primary'
