.btn-group.pull-right
  - if permitted_to? :update, task
    = link_to 'Edit', edit_task_path(task), :class => 'btn'
  - if permitted_to? :destroy, task
    = link_to 'Delete', task, {:method => :delete, :class => 'btn'}
.media
  .pull-left= image_tag avatar_url(task.owner)
  .media-body
    .media-heading
      %h4.media-heading
        = link_to task.title, task
        - if task.complete
          %span.label.label-success Complete
        - elsif task.due < Date.today
          %span.label.label-important Overdue
    .media-heading
      %small
        Due:
        = task.due ? task.due.strftime('%A, %B %d %Y, %l:%M %P') : ''
    .media-heading
      %small
        Creator:
        = task.creator.email
    .media-heading
      %small
        Owner:
        = task.owner.email
    = task.description
%hr
