%tr
  %td
    .media
      .btn-group.pull-right
        - if permitted_to? :destroy, task
          = link_to 'Delete', task, {:method => :delete, :class => 'btn'}
      .pull-left= image_tag avatar_url(task.owner,48)
      .media-body
        .media-heading
          %strong= link_to task.title, task
          - if not task.complete && task.due < Date.today
            %span.label.label-important Overdue
        %small
          = task.owner.real_name
          due 
          = task.due ? task.due.strftime('%A, %B %d %Y') : ''
