%h1 My Tasks
.icon-calendar
%small= link_to 'Download iCal', tasks_calendar_path(:format=>:ics, :token=>current_user.token)
%small= link_to "Subscribe on Google Calendar", "http://www.google.com/calendar/render?cid=http://"+request.host+tasks_calendar_path(:format=>:ics, :token=>current_user.token)

%ul.nav.nav-tabs
  - if params[:complete]
    %li= link_to 'Incomplete (' + @incomplete.to_s + ')', {}
    %li.active= link_to 'Complete (' + @complete.to_s + ')', {:complete=>1}
  - else
    %li.active= link_to 'Incomplete (' + @incomplete.to_s + ')', {}
    %li= link_to 'Complete (' + @complete.to_s + ')', {:complete=>1}
- @tasks.map do |project,tasks|
  .row
    .span7
      %h2= link_to project.name, project
  .row
    .span7
      %table
        = render :partial => 'tasks/task_row', :as => :task, :collection => tasks

%br
