%h1 My Tasks

%ul.nav.nav-tabs
  - if params[:complete]
    %li= link_to 'Incomplete (' + @incomplete.to_s + ')', {}
    %li.active= link_to 'Complete (' + @complete.to_s + ')', {:complete=>1}
  - else
    %li.active= link_to 'Incomplete (' + @incomplete.to_s + ')', {}
    %li= link_to 'Complete (' + @complete.to_s + ')', {:complete=>1}
- @tasks.map do |project,tasks|
  .row
    .span7
      %h2= link_to project.name, project
  .row
    .span7
      %table
        = render :partial => 'tasks/task_row', :as => :task, :collection => tasks

%br
