%p#notice= notice

= link_to @task.project.company.name, @task.project.company

%table
  %tr
    %td
    %td= link_to @task.project.name, @task.project
    %td= @task.project.completion
    %td= @task.project.goal_date
    - if permitted_to? :update, :projects
      %td= link_to 'Edit', edit_project_path(@task.project)
    - if permitted_to? :destroy, :projects
      %td= link_to 'Delete', @task.project, :method => :delete 

%table
  %tr
    %td
    %td
    %td= check_box_tag :complete, 1, @task.complete, :disabled => true
    %td= link_to @task.title, @task
    %td= @task.description
    %td= @task.due
    %td= @task.creator.email
    %td= @task.owner.email
    - if permitted_to? :update, @task
      %td= link_to 'Edit', edit_task_path(@task)
    - if permitted_to? :destroy, @task
      %td= link_to 'Delete', @task, :method => :delete 

%table
  - @task.comments.order('date(created_at) asc').each do |comment|
    %tr
      %td
      %td
      %td
      %td
      %td= comment.comment
      %td= comment.user.email
      %td= comment.created_at
      - if permitted_to? :update, comment
        %td= link_to 'Edit', edit_comment_path(comment)
      - if permitted_to? :destroy, comment
        %td= link_to 'Delete', comment, :method => :delete 

= link_to 'New Comment', new_comment_path(:task_id => @task.id)
