%p#notice= notice

%ul.breadcrumb
  %li
    = link_to @task.project.company.name, @task.project.company
    %span.divider /
  %li
    = link_to @task.project.name, @task.project
    %span.divider /
  %li.active= @task.title


.row
  .span12
    .row
      .span12
        .btn-group.pull-right
          - if permitted_to? :update, @task
            = link_to 'Edit', edit_task_path(@task), :class => 'btn'
          - if permitted_to? :destroy, @task
            = link_to 'Delete', @task, {:method => :delete, :class => 'btn'}
        %h1= @task.title
        = @task.due
        = @task.creator.email
        = @task.owner.email
        = check_box_tag :complete, 1, @task.complete, :disabled => true
    .row
      .span12
        = @task.description

.row
  .span12
    %hr
    - @task.comments.order('created_at asc').each do |comment|
      .row
        .span10.offset1
          .btn-group.pull-right
            - if permitted_to? :update, comment
              = link_to 'Edit', edit_comment_path(comment), :class => 'btn'
            - if permitted_to? :destroy, comment
              = link_to 'Delete', comment, {:method => :delete, :class => 'btn'}
          .media
            .pull-left= image_tag avatar_url(comment.user)
            .media-body
              .media-heading
                = comment.created_at
                = comment.user.email
              = comment.comment
          %hr
    .row
      .span10.offset1
        .btn-group
          = link_to 'New Comment', new_comment_path(:task_id => @task.id), :class => 'btn btn-primary'
