%ul.breadcrumb
  %li
    = link_to @task.project.company.name, @task.project.company
    %span.divider /
  %li
    = link_to @task.project.name, @task.project
    %span.divider /
  %li.active= @task.title

- if notice
  .alert
    = notice
    %button.close{'data-dismiss'=>'alert'} &times;

.row
  .span7
    .row
      .span7
        = render :partial => 'tasks/task', :object => @task

    .row
      .span7
        = render :partial => 'comments/comment', :collection => @task.comments.order('created_at asc').page(params[:page]).per(10)
        = paginate @task.comments.page(params[:page]).per(10)
        .row
          .span6
            = render :partial => 'comments/form', :locals => { :@comment => Comment.new(:task_id=>@task.id, :user_id=>current_user.id) }
  .span5
    %h1 Recent Activity
    .pull-right
      - @activities.each do |activity|
        .row= render_activity(activity, :layout => "layouts/activity" ) if activity.trackable && activity.owner
