%ul.breadcrumb
  %li
    = link_to @task.project.company.name, @task.project.company
    %span.divider /
  %li
    = link_to @task.project.name, @task.project
    %span.divider /
  %li.active= @task.title

- if notice
  .alert
    = notice
    %button.close{'data-dismiss'=>'alert'} &times;

.row
  .span12
    .row
      .span12
        .btn-group.pull-right
          - if permitted_to? :update, @task
            = link_to 'Edit', edit_task_path(@task), :class => 'btn'
          - if permitted_to? :destroy, @task
            = link_to 'Delete', @task, {:method => :delete, :class => 'btn'}
        %h1= @task.title
        %small= @task.due
        - if @task.complete
          %span.label.label-success Complete
        - elsif @task.due < Date.today
          %span.label.label-important Overdue
        %small= @task.creator.email
        %small= @task.owner.email
    .row
      .span12
        = @task.description

.row
  .span12
    %hr
    - @task.comments.order('created_at asc').each do |comment|
      .row
        .span10.offset1
          .btn-group.pull-right
            - if permitted_to? :update, comment
              = link_to 'Edit', edit_comment_path(comment), :class => 'btn'
            - if permitted_to? :destroy, comment
              = link_to 'Delete', comment, {:method => :delete, :class => 'btn'}
          .media
            .pull-left= image_tag avatar_url(comment.user)
            .media-body
              .media-heading
                %small= comment.user.email
                %small= comment.created_at
              = comment.comment
          %hr
    .row
      .span10.offset1
        = render :partial => 'comments/form', :locals => { :@comment => Comment.new(:task_id=>@task.id, :user_id=>current_user.id) }

