%h1
  = link_to @task.project.company.name, @task.project.company
  >
  = link_to @task.project.name, @task.project
  >
  = link_to @task.title, @task
%p#notice= notice

%table
  %tr
    %th Comment
    %th User
    %th= link_to 'Edit', edit_task_path(@task)
    %th= link_to 'New', new_comment_path(:task_id => @task.id)
  - @task.comments.each do |comment|
    %tr
      %td= comment.comment
      %td= comment.user.email
      %td= link_to 'Edit', edit_comment_path(comment)
      %td= link_to 'Delete', comment, :method => :delete 

