.form-horizontal
  = form_for @project do |f|
    - if @project.errors.any?
      #error_explanation
        %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
        %ul
          - @project.errors.full_messages.each do |msg|
            %li= msg

    .media
      %h3 New Project
      .media-body
        .media-heading
          = f.hidden_field :company_id
        .control-group
          .control-label= f.label :name
          .controls
            = f.text_field :name
        .control-group
          .control-label= f.label :description
          .controls
            = f.text_field :description
        .control-group
          .control-label= f.label :goal_date
          .controls
            .input-append.date{'date-data-format'=>'mm-dd-yyyy', :id=>'datepicker'}
              = f.text_field :goal_date, {:class=>'span2'}
              %span.add-on
                %i.icon-calendar
        .control-group
          .controls
            = f.submit 'Save', :class => 'btn btn-primary'
