.btn-group.pull-right
  - if permitted_to? :update, :projects
    = link_to 'Edit', edit_project_path(project), :class => 'btn'
  - if permitted_to? :destroy, :projects
    = link_to 'Delete', project, {:method => :delete, :class => 'btn'}
.media
  .media-body
    .media-heading
      %h4.media-heading
        = link_to project.name, project
        - if project.goal_date && project.goal_date < Date.today
          %span.label.label-important Overdue
    .media-heading
      %small= project.goal_date ? project.goal_date.strftime('%A, %B %d %Y') : ''
    .progress
      .bar{ :style => "width: #{project.completion * 100.0}%;" }
        = "#{(project.completion * 100.0).to_i}%"
  %hr
  