.media
  .media-body
    .btn-group.pull-right
      - if permitted_to? :update, :projects
        = link_to 'Edit', edit_project_path(project), :class => 'btn'
      - if permitted_to? :destroy, :projects
        = link_to 'Delete', project, {:method => :delete, :class => 'btn'}
    .media-heading
      %h4.media-heading
        = link_to project.name, project
        - if project.end_date != nil && project.end_date < Date.today
          %span.label.label-important Overdue
    .media-heading
      %small= project.start_date ? project.start_date.strftime('%A, %B %d %Y') : ''
      \-
      %small= project.end_date ? project.end_date.strftime('%A, %B %d %Y') : ''
    .progress
      .bar{ :style => "width: #{project.completion * 100.0}%;" }
        = "#{(project.completion * 100.0).to_i}%"
    .media-heading
      = project.description
  %hr
  