%h1
  = link_to @project.company.name, @project.company
  >
  = link_to @project.name, @project

%p#notice= notice

- if permitted_to? :update, @project
  = link_to 'Edit', edit_project_path(@project)
= link_to 'New Task', new_task_path(:project_id => @project.id)
%table
  %tr
    %th Task
    %th Description
    %th Complete
    %th Date Due
    %th Creator
    %th Owner
  - @project.tasks.each do |task|
    %tr
      %td= link_to task.title, task
      %td= task.description
      %td= task.complete
      %td= task.due
      %td= task.creator.email
      %td= task.owner.email
      - if permitted_to? :update, task
        %td= link_to 'Edit', edit_task_path(task)
      - if permitted_to? :destroy, task
        %td= link_to 'Delete', task, :method => :delete 
