%p#notice= notice

%ul.breadcrumb
  %li
    = link_to @project.company.name, @project.company
    %span.divider /
  %li.active= @project.name

.row
  .span12
    .btn-group.pull-right
      - if permitted_to? :update, :projects
        = link_to 'Edit', edit_project_path(@project), :class => 'btn'
      - if permitted_to? :destroy, :projects
        = link_to 'Delete', @project, {:method => :delete, :class => 'btn'}
    %h1= @project.name
    = @project.goal_date
    - if @project.goal_date && @project.goal_date < Date.today
      %span.label.label-important Overdue
    .progress.progress_striped{ :style => 'width: 200px;'}
      .bar{ :style => "width: #{@project.completion * 100.0}%;" }


.row
  .span12
    %hr
    - @project.tasks.order('complete asc, date(due) asc').each do |task|
      .row
        .span10.offset1
          .btn-group.pull-right
            - if permitted_to? :update, task
              = link_to 'Edit', edit_task_path(task), :class => 'btn'
            - if permitted_to? :destroy, task
              = link_to 'Delete', task, {:method => :delete, :class => 'btn'}
          .media
            .pull-left= image_tag avatar_url(task.owner)
            .media-body
              .media-heading
                %h4.media-heading
                  = link_to task.title, task
                  - if task.complete
                    %span.label.label-success Complete
                  - elsif task.due < Date.today
                    %span.label.label-important Overdue
              .media-heading
                %small= task.due
                %small= task.creator.email
                %small= task.owner.email
              = task.description
          %hr
    .row
      .span10.offset1
        = render :partial => 'tasks/form', :locals => { :@task => Task.new(:project_id=>@project.id, :creator_id=>current_user.id,  :owner_id=>current_user.id) }
