%ul.breadcrumb
  %li
    = link_to @project.company.name, @project.company
    %span.divider /
  %li.active= @project.name

- if notice
  .alert
    = notice
    %button.close{'data-dismiss'=>'alert'} &times;

.row
  .span7
    =render :partial => 'projects/project', :object => @project

.row
  .span7
    %ul.nav.nav-tabs
      - if params[:complete]
        %li= link_to 'Incomplete (' + @project.tasks.where(:complete=>false).length.to_s + ')', {}
        %li.active= link_to 'Complete (' + @project.tasks.where(:complete=>true).length.to_s + ')', {:complete=>1}
      - else
        %li.active= link_to 'Incomplete (' + @project.tasks.where(:complete=>false).length.to_s + ')', {}
        %li= link_to 'Complete (' + @project.tasks.where(:complete=>true).length.to_s + ')', {:complete=>1}
    %table.table-striped
      = render :partial => 'tasks/task_row', :as => :task, :collection => @project.tasks.where(:complete=>params[:complete]=='1').order('date(due) asc')
    .row
      .span6
        = render :partial => 'tasks/form', :locals => { :@task => Task.new(:project_id=>@project.id, :creator_id=>current_user.id,  :owner_id=>current_user.id) }
