%ul.breadcrumb
  %li
    = link_to @project.company.name, @project.company
    %span.divider /
  %li.active= @project.name

- if notice
  .alert
    = notice
    %button.close{'data-dismiss'=>'alert'} &times;

.row
  .span7
    =render :partial => 'projects/project', :object => @project

.row
  .span7
    %table.table-striped
      = render :partial => 'tasks/task_row', :as => :task, :collection => @project.tasks.order('complete asc, date(due) asc')
    .row
      .span6
        = render :partial => 'tasks/form', :locals => { :@task => Task.new(:project_id=>@project.id, :creator_id=>current_user.id,  :owner_id=>current_user.id) }
