%ul.breadcrumb
  %li.active= @company.name

- if notice
  .alert
    = notice
    %button.close{'data-dismiss'=>'alert'} &times;

.row
  .span7
    - if permitted_to? :update, @company
      .btn-group.pull-right
        = link_to 'Edit', edit_company_path(@company), :class => 'btn'
    %h1= @company.name

.row
  .span6.offset1
    = render :partial => 'projects/project', :collection => @company.projects.order('goal_date asc')
    .row
      .span6
        - if permitted_to? :create, :projects
          = render :partial => 'projects/form', :locals => { :@project => Project.new(:company_id=>@company.id) }
