%ul.breadcrumb
  %li.active= @company.name

- if notice
  .alert
    = notice
    %button.close{'data-dismiss'=>'alert'} &times;

.row
  .span7
    .row
      - if permitted_to? :update, @company
        .btn-group.pull-right
          = link_to 'Edit', edit_company_path(@company), :class => 'btn'
      %h1= @company.name
      .icon-calendar
      %small= link_to 'Download iCal', company_calendar_path(@company, :format=>:ics, :token=>current_user.token)
      %small= link_to "Subscribe on Google Calendar", "http://www.google.com/calendar/render?cid=http://"+request.host+company_calendar_path(@company, :format=>:ics, :token=>current_user.token)
    .row
      .span7
        = render :partial => 'projects/project', :collection => @company.projects.order('end_date asc')
        .row
          .span6
            - if permitted_to? :create, :projects
              = render :partial => 'projects/form', :locals => { :@project => Project.new(:company_id=>@company.id) }
  .span5
    %h1 Recent Activity
    .pull-right
      - @activities.each do |activity|
        .row= render_activity(activity, :layout => "layouts/activity" ) if activity.trackable && activity.owner

