!!!
%html
  %head
    %title SustaindaneMpowerPm
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js", :type => "text/javascript"}
    - if protect_against_forgery?
      %script{:type => 'text/javascript'}
        window._auth_token_name = "\#{request_forgery_protection_token}";
        window._auth_token = "\#{form_authenticity_token}";
      = javascript_include_tag 'application'
  %body
    %br
    %br
    .container
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            .brand= link_to 'Sustain Dane', '/'
            .nav
              %ul.nav
                - if user_signed_in?
                  - if ['admin', 'company_admin'].include? current_user.role.name
                    %li= link_to('Register User', new_user_registration_path)
                  - if current_user.role.name == 'admin'
                    %li= link_to('Companies', companies_path)
                  - else
                    %li= link_to('My Company', current_user.company)
                  %li= link_to('My Tasks', tasks_path)
            .nav.pull-right
              - if user_signed_in?
                %ul.nav
                  %li.navbar-text= current_user.email
                  %li= link_to('Sign Out', destroy_user_session_path, :method => :delete)
              - else
                = form_tag user_session_path, :class => 'navbar-form' do
                  = text_field_tag 'user[email]', '', {:class => 'span2', :placeholder => 'username'}
                  = password_field_tag 'user[password]', '', {:class => 'span2', :placeholder => 'password'}
                  %button.btn Sign in
      = yield
