!!!
%html
  %head
    %title SustaindaneMpowerPm
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js", :type => "text/javascript"}
    - if protect_against_forgery?
      %script{:type => 'text/javascript'}
        window._auth_token_name = "\#{request_forgery_protection_token}";
        window._auth_token = "\#{form_authenticity_token}";
      = javascript_include_tag 'application'
  %body
    = yield
